{{ define "index.tmpl" }}
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body class="bg-dark">
  <div class="container-fluid bg-dark">
    <form>
      <div class="row g-3 mb-2">
        <div class="col-auto">
          <input type="text" id="concept" class="form-control" aria-describedby="concept" placeholder="concept"
                 value="{{.Concept}}">
        </div>
        <div class="col-auto">
          <input type="text" id="stock" class="form-control" aria-describedby="stock" placeholder="stock"
                 value="{{.StockName}}">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" id="search">搜索</button>
        </div>
      </div>
    </form>
    <table class="table table-sm table-bordered table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Symbol</th>
        <th scope="col" style="min-width: 82px">Stock</th>
        <th scope="col">Concept</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      {{range $i, $e := .Scs}}
        <tr>
          <th scope="row">{{$i}}</th>
          <td>{{.LastModified}}</td>
          <td><a href="http://basic.10jqka.com.cn/{{.StockCode}}/" target="_blank" rel="noreferrer">{{.StockCode}}</a></td>
          <td>{{.StockName}}</td>
          <td>{{.ConceptName}}</td>
          <td>{{.Description}}</td>
        </tr>
      {{end}}
      </tbody>
    </table>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script>
      function search() {
          const conceptName = document.getElementById('concept').value
          const stockName = document.getElementById('stock').value
          window.location.href = `/page/sc?stockname=${stockName}&concept=${conceptName}`
      }

      const ele = document.getElementById('search')
      ele.addEventListener('click', function (e) {
          e.preventDefault()
          search()
      })
  </script>
  </body>
  </html>
{{end}}